<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon-32x32.png">
    <title>{{title}}</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>The content you were looking for is not here</p>
</div>
    {{>footer}}
</body>
</html>