<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon-32x32.png">
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <img class="cat" src="/img/img.png" alt="Sin imagen">

</div>
    {{>footer}}

</body>
</html>