<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>Help not found</h1>
<p>You can go back via the following pages</p>
    {{>header}}
</body>
</html>